#about {
    min-height: 100vh;
    height: 100vh;
    display: flex;
    align-items: center;
    padding-top: 0px;

    .title {
        font-family: 'Montserrat', sans-serif;
        color: rgb(45, 45, 45);
        font-size: 7vmin;
        letter-spacing: 2px;
        font-weight: 800;
        margin-top: 0px;
    }

    a {
        font-size: inherit;
    }

    img {
        object-fit: contain !important;
        width: 100% !important;
        height: 255px !important;
    }

    @media only screen and (max-width: 768px) {
        .mantine-RingProgress-root {
            width: auto !important;
            height: auto !important;
        }

        .center-mobile {
            text-align: center;
        }
    }

    @media only screen and (max-width: 425px) {
        .mantine-Container-root {
            padding: 0px;
        }
    }
}